@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

h1{
    display: flex;
     align-items: center;
     color: #93BFB7;
     font-family: 'Black Ops One', cursive;
    }
.logo {
    opacity: 100%;
}
.banner {
    height: 500px;
   
    background:#387373;
    
}

.navbar {
    
    background: linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
}
.logotipo-footer{
    height:25% ;
    width: 25%;
    opacity: 50%;
}
.footer {
    display:flex;
    justify-content: space-evenly;
   
}
.redes-sociales {
    background:linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
    width:30%;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;;
}
.info-empresa {
    background:linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
    width:30%;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;

}
.presentacion-empresa {
    border-top:  #93BFB7;
    border-style:double;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
    text-align: justify;
    font-size: x-small;
    padding-top: 5px;
    color: #93BFB7;
}
.imagen {
    display:flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.pagina {
    background-color: #93BFB7;
}
.derechos-reservados {
    background:linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
    width:30%;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.title-rs {
    display: flex;
    color: #93BFB7;
    justify-content: center;
}
.wp {
    color: #93BFB7;
    margin-left: 10px;
    font-size: x-small;
display: flex;
justify-content: center;
padding-top: 10px;    
}
.w {
display: flex;
flex-direction: row;
height: 5vh;




}
.g {
    display: flex;
    flex-direction: row;
    height: 5vh;
}
.gp {
    color: #93BFB7;
    margin-left: 10px;
display: flex;
justify-content: center;
font-size: x-small;   
padding-top: 10px; 
}
.dr {
    color: #93BFB7;
    margin-left: 10px;
display: flex;
justify-content: center;
font-size: x-small;   
padding: 10px; 
}
.img-cr {
background: linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
height: 30%;
display: flex;
justify-content: center;

}
.pcr {
    display: flex;
  justify-content: center;
    height: 50%;
    align-items: flex-end;
}
.iconos {
    list-style: none;
}

#contact {
	padding: 90px 0;
	background:#93BFB7;
}

#contact h2 {
    display: flex;
    justify-content: center;
	padding: 50px;
    color:#2D3E40;
}

.contact-form {
	background:linear-gradient(180deg, #2b8f80 0, #247f76 16.67%, #206c69 33.33%, #1f5959 50%, #1e4648 66.67%, #1c3638 83.33%, #1a282a 100%);
	width: 50%;
	margin: 20px auto;
	padding: 70px 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h5 {
	text-align: center;
	padding-bottom: 40px;
	font-weight: 900;
    color: #93BFB7;

}

.contact-form button {
	width: 100%;

}
.form-group{
    color: #93BFB7;
}
.label {
    color: #93BFB7;
}   

.nav-link {
    color:#93BFB7;
}
.carousel {
    height: 500px;
}

.d-block {
    width: 500px;
    height: 500px;
}